@{
    ViewData["Title"] = "Home Page";
}

@model ApartmentsParser.Domain.Models.ApartmentsCollectionModel

<form asp-action="FilterList" asp-controller="Apartment" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <label asp-for="NameSearchAttribute">Name search</label>
            <input type="text" asp-for="NameSearchAttribute" />
            <span asp-validation-for="NameSearchAttribute" />
        </div>
        <div class="form-group">
            <label asp-for="RoomsNumberSearchAttribute">Rooms number search</label>
            <input type="number" asp-for="RoomsNumberSearchAttribute" />
            <span asp-validation-for="RoomsNumberSearchAttribute" />
        </div>
        <div class="form-group">
            <label asp-for="CitySearchAttribute">City search</label>
            <input type="text" asp-for="CitySearchAttribute" />
            <span asp-validation-for="CitySearchAttribute" />
        </div>
    </div>
    <input type="submit" />
</form>

<h3>All apartments</h3>

<div>
    <table class="table table-striped thead-dark table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th width="200"><p>#</p></th>
                <th width="1000"><p>Title</p></th>
                <th width="500"><p>City</p></th>
                <th width="500"><p>RoomsNumber</p></th>
                <th width="1000"><p>Link</p></th>
            </tr>
        </thead>
        <tbody>
            @{ int i = 1;
                foreach(var apartment in Model.Apartments)
                {
                    <tr>
                        <td scope="row">@i</td>
                        <td>@apartment.Name</td>
                        <td>@apartment.City</td>
                        <td>@apartment.RoomsNumber</td>
                        <td>@apartment.Link</td>
                    </tr>
                    i++;
                }
            }
        </tbody>
    </table>
    @if (Model.Apartments.ToArray().Length == 0)
    {
        <p>Your apartment database is empty. Please, run the ApartmentsParser.JobsRunner to upload apartments from Otodom and Olx</p>
    }
</div>